@charset "UTF-8";

/*
a:link:before,
a:visited:before {
        content: " "attr(href)" ";
        display: block;
        text-transform: uppercase;
        font-size: 10px;
        margin-bottom: 5px;
        word-wrap: break-word;
}
*/

.header {
  border: 1px solid #c0c0c0;
  padding: 10px;
  margin-bottom: 20px;
}

.header ul, .header .title {
  display: block;
  float: left;
  width: 150px;
}

.header .title {
  width: 300px;
  
}
.header ul li {
  margin: 0;
  padding: 0;
  clear: both;
}

.header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.edit_section .actions {
  height: 4em;
}
.delete {
  display: inline-block;
}

.page_status {
  position: relative;
  text-align: left;
  top: -20px;
  margin-bottom: -20px;
}

ul.nav li ul li ul li .page_status {
  top: -15px;
  margin-bottom: -15px;
}

.actions {
  text-align: left;
}
form button, 
form .pagesubmit{
  display: inline-block;
  width: 49%;
}
form .pagesubmit input{
   /*display: none;*/
  width: 100%;
}

.page_status .field {
  display: inline-block;
  margin-bottom: 0;
  height: 25px;
}

.field {
  text-align: left;
}
.wrapper label {
  width: 20%;
  display: inline-block;
}
.wrapper input {
  width: 70%;
  display: inline-block;
}

.status label{
  width: 18px;
  height: 18px;
  display: block;
  background-color: #ccc;
  margin: 0;
  font-size: 10px;
  float: left;
  text-align: center;
  padding-top: 0;
     -moz-border-radius: 16px; /* FF1-3.6 */
  -webkit-border-radius: 16px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
          border-radius: 16px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  cursor: pointer;
}

.status select {
  display: none;
}

.status .open {
  background-color: #f23b28;
}
.status .started {
  background-color: #fbce1c;
}
.status .finished {
  background-color: #8cdc1a;
}

li a {
  clear: both
}
